# Environment Variables
MONGODB_URI=mongodb+srv://your-username:your-password@cluster.mongodb.net/solo-leveling?retryWrites=true&w=majority
NEXTAUTH_SECRET=your-secret-key-change-this-to-something-random
NEXTAUTH_URL=http://localhost:2026
